{
  "env": {
    "development": {
      "presets": ["env", "react", "stage-2"],
    },
    "test": {
      "presets": ["env", "react", "stage-2"],
    },
    "build": {
      "presets": [["env", {"modules": false}], "react", "stage-2"]
    }
  }
}
