{
  "env": {
    "default": {
      "plugins": [
        ["flow-react-proptypes"],
        ["module-resolver", {
          "root": ["src"],
          "cwd": "./",
          "alias": {
            "blocks": "./blocks",
            "components": "./components",
            "utils": "./utils",
            "storybook": "./storybook"
          }
        }],
        ["styled-components", {
          "minify": false,
        }]
      ],
      "presets": ["env", "react", "stage-2"]
    },
    "esmodules": {
      "plugins": [
        ["flow-react-proptypes"],
        ["module-resolver", {
          "root": ["src"],
          "cwd": "./",
          "alias": {
            "blocks": "./blocks",
            "components": "./components",
            "utils": "./utils"
          }
        }],
        ["styled-components", {
          "ssr": true
        }]
      ],
      "presets": [["env", {"modules": false}], "react", "stage-2"]
    }
  }
}
