{
  "extends": "kupibilet",
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "rules": {
    "import/no-named-as-default": "off",
    "react/no-multi-comp": "off",
    "// rules that impossible to implement in ui from airbnb config": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/destructuring-assignment": "off",
    "jsx-a11y/anchor-is-valid": "off"
  },
  "globals": {
    "InputEvent": true,
    "React$Element": true,
    "FieldProps": true
  }
}
