{
  "extends": "kupibilet",
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "rules": {
    "import/no-named-as-default": "off",
    "react/no-multi-comp": "off",
  },
  "globals": {
    "InputEvent": true,
    "React$Element": true,
    "FieldProps": true
  }
}
