{
  "extends": ["kupibilet", "prettier"],
  "plugins": ["prettier"],
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "rules": {
    "import/no-named-as-default": "off",
    "react/no-multi-comp": "off",
    "prettier/prettier": "error"
  },
  "globals": {
    "InputEvent": true,
    "React$Element": true,
    "FieldProps": true
  }
}
